<div class="container my-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body" style="background-color: rgb(169, 223, 224);">
                    <h5 class="card-title">Employees</h5>
                    <a href="#" class="btn btn-outline-primary">Go Employees</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body" style="background-color:rgb(169, 223, 224);">
                    <h5 class="card-title">Departments</h5>
                    <a href="#" class="btn btn-outline-primary">Go Departments</a>
                </div>
            </div>
        </div>
    </div>
</div>